name: Deploy Infrastructure

on:
  pull_request:
    paths:
      - 'infrastructure/**'
    branches:
      - main
  push:
    paths:
      - 'infrastructure/**'
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Terraform
      run: |
        sudo apt-get update && sudo apt-get install -y gnupg software-properties-common curl
        curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
        sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
        sudo apt-get update && sudo apt-get install -y terraform

    - name: Initialize Terraform
      run: |
        cd infrastructure
        echo "${{ vars.GOOGLE_SA_CREDS }}" > service-account.json
        cat service-account.json | jq .
        echo "${{ secrets.KUBE_PROFILE }}" > kubeconfig
        terraform init

    - name: Plan Terraform
      run: |
        cd infrastructure
        terraform plan

    # - name: Apply Terraform
    #   if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    #   run: |
    #     cd infrastructure
    #     terraform apply -auto-approve
